<h1>
//
</h1>

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
						<h1>Login Administrador</h1>
                        <h3><%= link_to "Retornar para a página inicial", controller: "home", action: "index" %></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
							<div class="form">
							<div class="bkgd">
							<div class="title">
							<h1></h1>
							</div>
							<%= form_for :login do |l| %>
								<div class="row">
									<div class="form-group col-md-2">
										<label for=":email"><h4>E-mail</h4></label>
										<input type="text" class="form-control" <%= l.text_field :email, :placeholder => "Insira o email" %> <br/>
									</div>

									<div class="form-group col-md-2">
										<label for=":password"><h4>Senha</h4></label>
										<input type="password" class="form-control" <%= l.password_field :password, :placeholder => "Insira sua senha" %> <br/>
									</div>

									<div class="col-md-12">
							   			<button type="submit"  a href="/login" class="btn btn-success">Login</button>
							<% end %>
							</div>
							</div>
							</div>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
