<h1>
//
</h1>

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Sistema de Controle de Membros</h1>
                        <h3><%= link_to "Retornar para a página inicial", controller: "home", action: "index" %></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">

                            <div class="form">
                            <div class="bkgd">

                            <div id="main" class="container-fluid">
                              <h3 class="page-header">Registro de usuário para a <%= Organization.find(@org_id).name %></h3>


                                <%= form_for :user, url: '/users' do |f| %>
                                <%= fields_for :organization do |d| %>
                                <% d.hidden_field :id, :value => @org_id %>
                                <%end%>
                                Name: <%= f.text_field :name %>
                                Email: <%= f.text_field :email %>
                                Password: <%= f.password_field :password %>
                                Password Confirmation: <%= f.password_field :password_confirmation %>
                                <%= f.submit "Submit" %>

                              <% end %>
                            </div>


                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
