<h1>
//
</h1>

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Membro</h1>
                        <h3><%= link_to "Retornar para a página inicial", controller: "home", action: "index" %></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <p>
                              <li>
                                User: <%= @user.name%>
                              </li>
                              <li>
                                Email: <%= @user.email%>
                              </li>
                              <li>
                                Organization: <%= link_to Organization.find(@user.organization_id).name, controller: "organizations", action: "show", id: @user.organization_id %>
                              </li>
                              <li>
                                Role: <%= @user.role%>
                              </li>
                            
                            </p>

                        </ul>
                        <br></br>
                        <p>
                            Registros de ponto:
                        </p>

                        <% @user.pontos.reverse_each do |ponto| %>
                          <li>
                            <%= @user.name%>
                            <%= ponto%>
                          </li>

                        <%end%>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
