<h1>
//
</h1>

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Sistema de Controle de Membros</h1>
                        <h3>Escolha uma Empresa Júnior</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <% @organizations.each do |org| %>
                                <p>
                                  <%=link_to org.name, org%>
                                </p>
                                <%end%>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
