<h1>
//
</h1>

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Sistema de Controle de Membros</h1>
                        <h3><%= link_to "Retornar para a página inicial", controller: "home", action: "index" %></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">

                            <p>
                            Organizacão: <%= @organization.name %>
                            </p>

                            <p>
                              Membros de <%= @organization.name %>:
                            </p>

                            <% @organization.users.each do |user| %>
                              <%= link_to user.name, user %>, cargo: <%= user.role%> |
                            <%end%>

                            <% if current_user %>
                              <% if current_user.role == "admin" && current_user.organization_id == @organization.id %>
                                <%= link_to "Adicionar novo membro", controller:"users", action:"new", org_id:@organization.id %>

                              <%end%>
                            <%end%>

                            <p>
                                <br></br>
                              Bater ponto:
                            </p>

                            <%= form_for :login, url: '/baterPonto' do |l| %>
                            	<div class="row">
                            		<div class="form-group col-md-2">
                            			<label for=":email"><h4>E-mail</h4></label>
                            			<input type="text" class="form-control" <%= l.text_field :email, :placeholder => "Insira o email" %> <br/>
                            		</div>

                            		<div class="form-group col-md-2">
                            			<label for=":password"><h4>Senha</h4></label>
                            			<input type="password" class="form-control" <%= l.password_field :password, :placeholder => "Insira sua senha" %> <br/>
                            		</div>

                            		<div class="col-md-12">
                               			<%=l.submit "Submit" %>
                                  </div>
                            <% end %>
                        </ul>
                    </div>
                    <div>
                        <br></br>
                        <p>
                          Ultimos registros:
                        </p>

                        <% @organization.pontos.order(:created_at).reverse_each do |ponto| %>
                          <li>
                            <%= link_to User.find(ponto.user_id).name, controller: "users", action: "show", id: ponto.user_id %>
                            <%= ponto %>
                          </li>
                        <%end%>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
